body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 2rem;
}
header {
    background-color: rgb(44, 72, 98);
    padding: 1rem 2rem;
}
header a {
    color: aqua;
}
.info {
    text-align: center;
}
.info h2 {
    background-color: chocolate;
    padding: 1rem 2rem;
    margin-top: 4px;
    text-align: center;
}
.info h3 {
    color: lightgray;
    padding: 1rem 2rem;
    background-color:darkslategray;
    text-align: center;
}
.info img {
    max-inline-size: 100%;
    block-size: auto;
    display: inline-block;
}